.loginform
  background url('../img/background.png')
  background-size cover
  background-repeat no-repeat
  position absolute
  top 0
  bottom 0 
  left 0
  right 0
  .form__group
    position relative
    &:first-child
      margin-top 100%
  label 
    display none
  input
    color #a2a1b8
    font-size 1em
    position relative
    display block
    text-align center
    margin 3em auto
    background none
    border 0
    &:focus
      outline none
      color white
  .form__submit
    border-radius 20px
    border 1px solid rgba(#a2a1b8, 0.7)
    padding .5em 2em

.form__register
  color #a2a1b8
  text-align center
  margin 0 auto
  margin-top -25px;
  a 
    color #a2a1b8
    &:hover 
      white      







