.beers 
  padding 0
  padding-top 3em
  margin 0 15px
  a 
    text-decoration none

.beers__item
  list-style-type none
  color #100f2b
  margin 1em 0
  padding 1em 0
  border-bottom solid 1px #e3e3e3
  display flex
  justify-content space-between
  flex-wrap wrap

.beers__name
  width 50%
  
.beers__star 
  width: 50%

.beers__style
  text-align left
  width 100%
  font-size 0.8em
  color #908c8c